*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    line-height: 1;
}

footer{
    width: 100%;
    padding: 40px;
    background-color: #111111;
    display: flex;
    flex-direction: column;   
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

footer ul {
    padding-left: 20px;
    margin: 0; 
}