*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 500px;
    background-color: #ccc;

    display: flex;
    flex-flow: row wrap; /* Is the combination of flex-wrap: wrap; +  flex-direction: row; */ 
    align-items: end; /* Aligns items to the bottom */
    /* justify-content: space-evenly; Aligns items with equal space between them */
    justify-content: space-between; /* Aligns items with equal space around them */
    /* align-items: flex-end;Aligns items to the bottom */
    /* align-items: center; Aligns items to the center */
    /* align-items: stretch; /* Aligns items to the top And here the item will take up the entire height of that isinside of. */
    align-items: flex-start; /* Aligns items to the top */
    align-content: center;/* Aligns items to the center  by putting all item together*/
    
}